# SNOMED refset extraction
A notebook to extract medication code lists from SNOMED ref sets

In [1]:
#import libraries required for analysis
import os
import pandas as pd

In [4]:
df = pd.read_csv(os.path.join('..','data/TRUD','der2_Refset_SimpleUKDGFull_GB1000001_20220706.txt'), sep='\t')
df

,id,effectiveTime,active,moduleId,refsetId,referencedComponentId
0,0000046b-57ef-5ac7-be25-ef867333dac6,20200805,1,999000021000001108,999000401000000107,15586111000001102
1,00000804-8cfa-4c45-b9ce-393877e3ea81,20210217,1,999000021000001108,999000401000000107,39311411000001107
2,00000c1d-ffcc-5cff-8665-f5a3965e53d0,20160427,1,999000021000001108,999000031000001105,32473111000001106
3,000015e1-07b4-553f-87c0-1eb921f113cc,20100310,1,999000021000001108,999000031000001105,13865911000001101
4,000015f3-c748-5e8d-be98-5d383c0d1958,20160817,1,999000021000001108,999000551000001106,32960211000001103
...,...,...,...,...,...,...
1343271,ffffb153-aa49-4f58-83c5-e4b177bc20d1,20210804,1,999000021000001108,154471000001109,321551004
1343272,ffffbabb-ef79-5c74-87f4-3bd5a22208c8,20060501,1,999000021000001108,999000541000001108,320311000001105
1343273,ffffd229-3ea3-5f0f-9203-71c059f8db77,20080401,1,999000021000001108,999000571000001104,12052911000001105
1343274,ffffd7b4-58a0-5422-8a2e-ddc95152b5a1,20140917,1,999000021000001108,999000541000001108,25200211000001102
1343275,ffffe596-3214-5979-941f-860d3fe9ceb0,20200805,1,999000021000001108,999000401000000107,27069011000001107

In [12]:
ampdf = pd.read_xml(os.path.join('..','data/TRUD','f_amp2_3010922.xml'), xpath="/ACTUAL_MEDICINAL_PRODUCTS/AMPS")
ampdf

   AMP
0  NaN

In [31]:
df_refset_to_get = pd.read_csv(os.path.join('..','data','refset_to_get.csv'), sep='\t')
df_refset_to_get = df_refset_to_get[['Cluster name', 'SNOMED CT']]
refset_to_get_dict=dict(zip(df_refset_to_get['SNOMED CT'], df_refset_to_get['Cluster name']))
refset_to_get_dict

{154091000001103: 'ANTIMICROBIALDRUG_COD',
 226291000001104: 'BENZODRUG_COD',
 92161000001100: 'DIRECTORANTICOAGDRUG_COD',
 154481000001106: 'GABADRUG_COD',
 154491000001108: 'NONASPANTIPLTDRUG_COD',
 94871000001106: 'NONSELBBDRUG_COD',
 154171000001103: 'OPIOIDDRUG_COD',
 154181000001101: 'ORALNSAIDDRUG_COD',
 12463501000001109: 'ORANTICOAGDRUG_COD',
 12463701000001103: 'SAL_COD',
 153791000001103: 'STRONGOPIOIDDRUG_COD',
 153991000001100: 'ULCERHEALDRUG_COD',
 154131000001100: 'VSTRONGOPIOIDDRUG_COD'}

In [34]:
for key in refset_to_get_dict:
    refsetinput=key
    refsetnameinput=refset_to_get_dict[key]
    #refsetnameinput=input("Enter refset name:")
    #refsetinput=int(input("Enter refset ID:"))
    refsetcomponents=df.loc[(df['active'] == 1) & (df['refsetId'] == refsetinput)]
    refsetcomponents=refsetcomponents['referencedComponentId']
    refsetcomponents.to_csv(os.path.join('..','data/refsets',refsetnameinput+'.csv'), index=False)